*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: rgb(165, 164, 164);
    line-height: 1.5;
}
:root{
    --color-black: black;
    --color-white: white;
--color-primary: #f6d200;
}
.header{
    height:400px;
    display: flex;
    flex-direction: column;
    background-color:var(--color-black);
    color: var(--color-white);
}
.site-info {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.site-info h1 {
    text-transform: uppercase;
    margin-bottom: 15px;
}
.nav-bar ul {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
}
.nav-bar li{
    text-align: center;
    flex-grow: 1;
}
.nav-bar a:is(:link, :visited){
    width: 100%;
    color: var(--color-black);
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    padding: 10px;
    text-transform: capitalize;
    transition: all .4s linear;
}
.nav-bar li a:is(:hover,:focus,:active){
    background-color: var(--color-black);
   color: var(--color-white);
}


/* .......................................header section end...................................... */




.Content{
    padding: 10px;
}
.Content .post{
    position: relative;
    margin-bottom: 10px;
    background-color: var(--color-white);
}
.Content .post a{
    position: absolute;
    height: 100%;
    width: 100%;
}
.post img{
    height: 250px;
    width: 100%;
    display: block;
    object-fit: cover;
}

.Content .post h2 {
    background-color: var(--color-primary);
    text-align: center;
    padding: 10px;
}
.Content .post p{
    padding: 10px;
}





/* ....................................................posts section end.................. */
.section-heading {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.watchnow figure{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
}
.watchnow .image img {
    height: 450px;
    object-fit: cover;
    width: 100%;
    display: block;
}
.watchnow figcaption{
    padding: 10px;
    background-color: var(--color-black);
    color: var(--color-white);
}
.watchnow h2{
   margin-bottom: 10px;
}
.watchnow p{
    display: flex;
    margin-bottom: 10px;
}
.watchnow p span{
    font-weight: 700;
flex-grow: 1;
}
.watchnow a:is(:link, :visited){
    text-decoration: none;
    color: var(--color-white);
}








@media all and (min-width: 768px){
    .nav-bar ul{
        flex-direction: row;
    }
    .Content .posts{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
    }
    .post{
        width: 49%;
    }
    .watchnow figure{
        flex-direction: row;
    }
    .watchnow .image{
        width: 400px;
        flex: 0 0 400px;
    }
    .watchnow .second{
        order: 1;
    }
}
